<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>🤖 5.2.3 Robots</title>
</head>
<body class="bg-faded">
  <div class="container-fluid bg-primary text-white px-4 py-2">
    <div class="row">
      <div class="col-1" style="max-width: 70px;">
        <h1>🤖</h1>
      </div>
      <h6 class="mt-3">Robots4Hire™</h6>
    </div>
  </div>
  {{{body}}}
</body>
</html>
